@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;600;700&display=swap");
* {
  font-family: "Poppins", sans-serif;
}
/* Navbar */
.navbar {
  font-size: 18px;
}
/* Home */
.card .card-img {
  object-fit: cover;
}
